@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@400;700&display=swap");

h1 {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}

span {
  color: rgb(0, 132, 255);
  font-family: "Source Sans Pro", sans-serif;
}
